/* General Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  scroll-behavior: smooth;
  font-family: "Optima";
}

/* Colors */
:root {
  --background: rgb(252, 252, 252);
  --second-background: rgb(254, 254, 254);
}

body {
  min-height: 100vh;
  background-color: var(--background);
}

/* Nav Bar */
.navbar {
  display: flex;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  padding: 24px 4%;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(250, 250, 250, 0.8);
  backdrop-filter: blur(10px);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.nav-left,
.nav-right {
  display: flex;
  gap: 2em;
}

.nav-left a,
.nav-right a {
  text-decoration: none;
  color: rgb(0, 40, 80);
  font-weight: 500;
  opacity: 1;
  transition: 0.2s ease-in-out;
}

.nav-left a:hover,
.nav-right a:hover {
  opacity: 0.6;
}

.nav-left a.active {
  font-weight: 800;
}

.nav-center {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.nav-center a {
  font-size: 1.4em;
  color: rgb(0, 40, 80);
  font-weight: 800;
  opacity: 1;
  transition: 0.2s ease-in-out;
}

.nav-center a:hover {
  opacity: 0.6;
}

/* Icons */
.icon i {
  font-size: 1.2em;
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
  height: auto;
}

/* Buttons in General */
.btn {
  padding: 1em 2em;
  color: rgb(24, 24, 24);
  font-size: 1.1em;
  font-weight: 500;
  letter-spacing: 1px;
  border-radius: 10em;
  border: 1px solid rgb(0, 40, 80);
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.btn:hover {
  background-color: rgb(24, 24, 24);
  color: var(--background);
}

span {
  /* background: linear-gradient(to right, #6cff52, #3ec5ff);
    background-clip: text;
    color: transparent; */
  color: rgb(0, 40, 80);
}

/* menu {
    color: rgb(24, 24, 24);
    font-size: 3em;
    display: none;
} */

/* ABOUT SECTION */
#about {
  background-color: var(--second-background);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4em;
  padding: 100px 4%;
}

#about img {
  width: 30vw;
  border-radius: 1em;
}

.about-box {
  display: flex;
  flex-direction: column;
  text-align: left;
  gap: 2em;
}

.about-box h1 {
  font-size: 4em;
  padding: 0 0 10px;
}

.about-box p {
  color: rgb(24, 24, 24);
  opacity: 0.8;
  font-size: 1em;
  line-height: 1.5;
}

.skills {
  display: flex;
  text-align: left;
  gap: 10em;
}

.skills ul {
  font-size: 1.3em;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  color: white;
  opacity: 0.8;
  align-items: baseline;
}

.skills ul li span {
  display: flex;
  align-items: center;
  gap: 0.5em;
  font-size: 1.3em;
  transition: 0.3s ease-in-out;
}

.skills ul li span:hover {
  transform: translateX(10px);
}

.skills ui li i {
  font-size: 1.2em;
}

.about-box h2 {
  font-size: 2.5em;
}

/* FOOTER SECTION */
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background-color: #f8f8f8;
  color: #002850;
}

.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.contact-icons {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
  justify-content: center;
}

.icon-circle {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: #e9eef5;
  color: #002850;
  font-size: 1.5em;
  text-decoration: none;
  transition: 0.3s ease-in-out, color 0.3s ease-in-out;
}

.icon-circle:hover {
  background-color: #6cace4;
  color: white;
}

@media (max-width: 968px) {
  section {
    padding: 8em 15%;
  }

  nav .btn {
    display: none;
  }

  #menu {
    display: block;
  }

  .links {
    position: absolute;
    top: 100%;
    right: 0;
    width: 100%;
    padding: 1em 3em;
    color: white;
    display: flex;
    flex-direction: column;
    text-align: center;
    background: rgba(0, 0, 0, 0.9);
    display: none;
  }

  .links a {
    margin: 2em 0;
    display: block;
    font-size: 1.5em;
    color: white;
  }

  .links.active {
    display: block;
  }

  #home h1 {
    font-size: 4em;
  }

  #home h3 {
    font-size: 2em;
  }

  #home img {
    width: 24vw;
  }

  #about {
    flex-direction: column;
  }

  #about img {
    width: 32vw;
  }

  #about h1 {
    font-size: 3em;
  }

  #about ul {
    font-size: 1em;
  }
}

@media (max-width: 768px) {
  #home h1 {
    font-size: 2.5em;
  }

  #home h3 {
    font-size: 1.5em;
  }

  #home img {
    width: 32vw;
  }

  #about .skills {
    gap: 3em;
  }

  #projects .header {
    font-size: 3em;
  }

  #contact .header {
    font-size: 3em;
  }

  #contact .input-box span {
    font-size: 1.2em;
  }

  .input-box input {
    padding: 0.5em 1em;
  }

  footer {
    flex-direction: column;
    gap: 5em;
    align-items: baseline;
  }
}
